@{
    ViewData["Title"] = "Log in / Register";
}

<section class='login' id='login'>
  <div class='head'>
  <h1 class='company'>Visualizer</h1>
  </div>
  <p class='msg'>Welcome</p>
  <div class='form'>
    <form>
  <input type="text" placeholder='Username' class='text' id='username' required><br>
  <input type="password" placeholder='••••••••••••••' class='password'><br>
      <center>
      <a href="#" class='btn-login' id='do-login'>Login</a>
      <a href="#" class='btn-register' id='do-register'>Register</a>
      </center>
    </form>
  </div>
</section>